.iconoLogin{
    padding-left: 1rem;
    padding-top: 0.5rem;
}
.login{
    text-decoration: none;
    color: black;
}
.linkColor:hover{
    color: mediumpurple !important;
}
.fondoMenu{
    background-color: lightpink !important;
}

body {
    overflow-x: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}
.headerContenido{
    width: 100%;

}

.navegacion-principal {
    display: flex;
    justify-content: flex-start;
}

.footer{
    background: linear-gradient(#5c636a, #495057) !important;
    color: white;
    font-size: 12px;
}

.formatoLogo{
    width: 40%;
    display: block;
    align-items: center;
    justify-content: center;

}
.formatolink{
    color: white !important;
    text-decoration: none;
}
.abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}
.contenedor {
    max-width: 100%;
    margin: 0 auto;
    padding-left: 2%;
    padding-right: 2%;
}
.contenedorSombra{
    max-width: 95%;
    margin: 0 auto;
}
.grid {
    display: grid;
    grid-template-columns: repeat(3, 0.5fr);
    gap: 2rem;
}
/** Productos **/
.producto {

    padding: 1rem;
}

.producto__nombre {
    font-size: 25px;
}
.producto__precio {
    font-size: 1.8rem;
    /*color: var(--secundario);*/
}
.producto__nombre,
.producto__precio {
    /*font-family: var(--fuentePrincipal);*/
    margin: 0.10rem 0;
    text-align: center;
    line-height: 1.2;
}
.sombra {
    box-shadow: 0px 5px 15px 0px rgba(46,46,46,0.48);
    background-color: var(--blanco);
    padding: 2rem;
}
.centradoSubTitulo{
    text-align: center;
}
.carrito{
    text-align: center;
}
#contenido p,
#contenido2 p,
#contenido3 p,
#contenido4 p{
    color: #04414d;
    font-weight: bold;

}
.centrarTextos{
    display:flex;
    justify-content: center;
    align-items: center;
}
.footer{
    background: linear-gradient(#5c636a, #495057) !important;
    color: white;
}
.formatolink{
    color: white !important;
    text-decoration: none;
}
.estilo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: darkcyan;
}
.container-img{
    display: flex;
    justify-content: center;
    align-items: center;
}